---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/button';
import AppBar from '../components/appBar';
---

<Layout title="Welcome to Astro.">
	<main class="bg-slate-100 min-h-[10000px] ">
		<AppBar className='' />


		<div class="asp sticky top-0 left-0 -translate-x-1/2 w-1/3 translate-y-1/3  ">
		<img src="https://www.cicis.com/content/images/cicis/Jalapeno%20pizza.png"  class="animate-spin-slow" />
	</div>
	</main>
</Layout>


