---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/button';
import AppBar from '../components/appBar';
---

<Layout title="Test.">
    <main class="bg-slate-100 min-h-[1000px]">
        <AppBar className="" />

        <p class="text-4xl">Hello</p>
    </main>
</Layout>
